  </div>
  <div class="container">
  	<div id="welcome-greeting">
  		<h1>Land Ahoy!</h1>
  		<h2>You've found my blog which does not update on a regular schedule but does contain a whole lot of great content. Check out the Bookmarks section and feel free to reach out via email.</h2>
  		<p>"To acheive greatness, start where you are. Use what you have. Do what you can." - Arthur Ashe</p>
  		<p>"It's better to have a short life that is full of what you like doing, than a long life spent in a miserable way." - Alan Watts</p>
  		<p>"Be well, do good work, and keep in touch." - Garrison Keillor</p>
  		<hr />
  	</div>
  </div>
  <div class ="container">
