  </div>
  <div class="container">
  	<div id="welcome-greeting">
  		<h1>Land Ahoy!</h1>
  		<h2>You've found my blog! It does not update on a regular schedule but does contain a whole lot of great content. I focus on my personal experience trying to improve the Bahamas and the work I do for the <a href="http://tmoss4.github.io/pbr/collection">Paper Beats Rock Collection</a>.</h2>

      <h3>Check out the Bookmarks section for lots of entertaining material and feel free to reach out to me personally!</h3>

      <a href="http://www.16personalities.com/infj-personality"><img src="{{ site.urlimg }}/infj-header.png" alt="INFJ"></a>

  		<p>"To acheive greatness, start where you are. Use what you have. Do what you can." - Arthur Ashe</p>
  		<p>"It's better to have a short life that is full of what you like doing, than a long life spent in a miserable way." - Alan Watts</p>
  		<p>"Be well, do good work, and keep in touch." - Garrison Keillor</p>
  	</div>
  </div>
  <div class ="container">
